body {
    background-color: #1E1B1B;
    color: white;

}

.navbar {
    background-color: rgb(65, 65, 65);
    color: white;
}

#business-name {
    color: rgb(0, 60, 255);
    font-family: 'Times New Roman', Times, serif    
}

.icon {
    width: 30%;
    height: 30%;
}

.fill {
    width: 100%;
    height: 100%;
}


/* Container needed to position the button. Adjust the width as needed */
.header-img{
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .header-img img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .header-img .btn {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #4b75c4;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
  }
  
  .header-img .btn:hover {
    background-color: #5f87d2;
    box-shadow: 0 0 100px 4px rgba(0, 140, 186, 0.5);
    padding: 14px 28px;
  }

#guarantee {
    font-size: 24px;
    position: relative;
    top: 50px;
}

#guarantee-header{
    position: relative;
    top: 50px;
}

footer {
    position: relative;
    top: 100px;
}

#copyright {
    position: relative;
    top: 30px;
    left: 10px
}

.join-section-header {
    position: relative;
    top: 50px;
    left: 210px;
}

#join-btn {
    position: relative;
    top: 20px;
    left: 250px;
    background-color: #4b75c4;
    color: white;
    width: 250px;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}

#join-btn:hover {
    background-color: #5f87d2;
    box-shadow: 0 0 100px 4px rgba(0, 140, 186, 0.5);
    padding: 14px 28px;
  }


#reject-btn {
    position: relative;
    top: 20px;
    left: 250px;
    background-color: #ab2124;
    color: white;
    width: 250px;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}

#reject-btn:hover {
    background-color: #c53b3e;
    box-shadow: 0 0 100px 4px rgba(0, 140, 186, 0.5);
    padding: 14px 28px;
  }

  .divider {
    position: relative;
    top:25px;
  }


#second-join-btn {
    position: relative;
    top: 80px;
    background-color: #4b75c4;
    color: white;
    width: 250px;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}

#second-join-btn:hover {
    background-color: #5f87d2;
    box-shadow: 0 0 100px 4px rgba(0, 140, 186, 0.5);
    padding: 14px 28px;
  }

#video:hover {
  box-shadow: 0 0 100px 4px rgba(0, 140, 186, 0.5);
}

body {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1E1B1B;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4b75c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5f87d2;
}